useDynLib(besiw, .registration=TRUE)
S3method(estimate,besiw)
S3method(plot,besiw)
export(estimate)
export(select_k)
export(eigenGSIW)
import(Rcpp)
importFrom(GPArotation,Random.Start)
importFrom(abind,abind)
importFrom(Matrix,isDiagonal)
importFrom(magrittr,`%>%`)
importFrom(pracma,gramSchmidt)
importFrom(bayesplot, color_scheme_set)
importFrom(bayesplot, mcmc_trace)
importFrom(bayesplot, mcmc_hist)
importFrom(bayesplot, mcmc_areas)
importFrom(bayesplot, mcmc_acf)
importFrom(patchwork, plot_layout)
importFrom(future, multisession)
importFrom(furrr, future_map)
importFrom(furrr, furrr_options)
importFrom(stats,quantile)
importFrom(stats,rnorm)
